@use 'variables';

.elevationFile {
  position: relative;

  .hint {
    position: absolute;
    pointer-events: none;
    top: 40px;
    left: 30px;
    color: white;
  }

  .copyright {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .albaMons {
    position: absolute;
    top: 227px;
    left: 30px;
    width: 361px;
    border-bottom: 2px solid variables.$marsBrown;
  }

  .olympusMons {
    position: absolute;
    top: 347px;
    left: 30px;
    width: 191px;
    border-bottom: 2px solid variables.$marsBrown;
  }

  .tharsisMontes {
    position: absolute;
    width: 301px;
    top: 482px;
    left: 30px;
    border-bottom: 2px solid variables.$marsBrown;

    &::before {
      content: "";
      position: absolute;
      width: 160px;
      top: 5px;
      left: 183px;
      transform: rotate(-14deg);
      border-bottom: 2px solid variables.$marsBrown;
    }

    &::after {
      content: "";
      position: absolute;
      width: 91px;
      top: 44px;
      left: 181px;
      transform: rotate(26deg);
      border-bottom: 2px solid variables.$marsBrown;
    }
  }
}
