#map {
  .imageCtxContainer {
    position: relative;
    white-space: nowrap;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    text-shadow: 0 0 .1rem white;

    a {
      color: inherit;
    }

    > div,
    > *::before,
    > *::after {
      position: absolute;
    }

    > a {
      position: absolute;

      &.mouseover,
      &:hover {
        background-color: #603315;
        color: #603315;
        cursor: pointer;
      }
    }

    .inSightLine {
      width: 3px;
      height: 480px;
      left: 265px;
      background-color: black;
    }

    .pin {
      width: 15px;
      height: 15px;
      border-radius: 100vh;
      background-color: rgba(0, 0, 0, .3);
    }

    .inSight {
      left: 259px;
      top: 480px;

      &::after {
        content: "InSight Lander";
        top: 0;
        right: 20px;
      }
    }

    .olympusMons {
      left: 499px;
      top: 450px;

      &::after {
        content: "Olympus Mons";
        opacity: 1;
        top: 15px;
        left: -33px;
      }
    }

    .tharsisMontes::after {
      content: "Tharsis Montes";
      left: 550px;
      top: 499px;
      transform: rotate(-55deg);
    }

    .albaMons {
      top: 380px;
      left: 580px;

      &::after {
        content: "Alba Mons";
        left: 20px;
      }
    }

    .spacexLanding1 {
      width: 63px;
      height: 38px;
      border-radius: 100vh;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.5);
      left: 403px;
      top: 367px;
    }

    .spacexLanding {
      height: .5rem;
      width: .5rem;
      border-radius: 100vh;
      border: none;
      background-color: rgba(0, 0, 0, .5);
    }

    .spacexLanding1 {
      left: 342px;
      top: 388px;
    }

    .spacexLanding2 {
      left: 412px;
      top: 379px;
    }

    .spacexLanding3 {
      left: 415px;
      top: 376px;
    }

    .spacexLanding4 {
      left: 419px;
      top: 376px;    }

    .spacexLanding5 {
      left: 424px;
      top: 378px;
    }

    .spacexLanding6 {
      left: 450px;
      top: 374px;
    }

    .spacexLanding1::after {
      content: "candidate Starship landing sites";
      top: -28px;
      right: -139px;
      transform: rotate(-10deg);
    }

    .region {
      color: lightgray;
      font-size: 1rem;
      text-shadow: 0 0 .1rem black;
      font-variant: all-small-caps;
      letter-spacing: .2rem;
      text-align: center;

      &.elysiumPlanitia::before {
        content: "Elysium\APlanitia";
        white-space: pre-wrap;
        top: 465px;
        left: 300px;
      }

      &.amazonisPlanitia::before {
        content: "Amazonis\APlanitia";
        white-space: pre-wrap;
        top: 410px;
        left: 380px;
      }

      &.arcadiaPlanitia::before {
        content: "Arcadia Planitia";
        top: 328px;
        left: 350px;
      }

      &.borealisBasin::before {
        content: "Borealis Basin";
        letter-spacing: 1.5rem;
        top: 150px;
        left: 380px;
        font-size: 1.2rem;
      }

      &.hellasPlanitia::before {
        content: "Hellas\APlanitia";
        white-space: pre-wrap;
        top: 600px;
        left: 50px;
      }

      &.argyrePlanitia::before {
        content: "Argyre\APlanitia";
        white-space: pre-wrap;
        top: 645px;
        left: 740px;
        line-height: 1rem;
      }

      &.chrysePlanitia::before {
        content: "chryse\APlanitia";
        white-space: pre-wrap;
        top: 360px;
        left: 760px;
      }

      &.acidaliaPlanitia::before {
        content: "Acidalia Planitia";
        top: 290px;
        left: 780px;
      }

      &.utopiaPlanitia::before {
        content: "Utopia Planitia";
        top: 340px;
        left: 146px;
      }

      &.isidisPlanitia::before {
        content: "Isidis\APlanitia";
        white-space: pre-wrap;
        line-height: 1rem;
        top: 444px;
        left: 96px;
      }

      &.tharsis::before {
        content: "Tharsis";
        top: 50px;
        left: 50px;
      }
    }

    img {
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
}
